<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
	<body>
		<div class="wrapper">
			<%- include('../partials/header.ejs')%>
			<div class="main">
				<div class="container">
					<div id="main-content">
						<div class="blog-header">
							<div class="post-title">
								<h1><%= title %></h1>
							</div>
							<div class="post-info">
								<span class="post-date"> <%= date %></span>
							</div>
							<div class="seperator">* * *</div>
							<p class="post-description"><%= description %></p>
							<p class="post-img">
								<img src="<%= image %>" alt="image" />
							</p>
						</div>
						<div class="blog-content"><%- post %></div>
						<div class="seperator">* * *</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			let blogElement = document.getElementsByClassName("blog-content")[0];
			let aTag = blogElement.getElementsByTagName("a");

			// htmlCollection to array
			let arrayA = [...aTag];

			// adding target attribute.
			arrayA.forEach((a) => {
				a.setAttribute("target", "_blank");
			});
		</script>
	</body>
</html>
